{% extends "layout.html" %}

{% block title %}
    Tweet Page
{% endblock %}

{% block content %}
    <h1 class='text-center mt-4'>Blog Post</h1>
        {% if form.instance.pk %}Edit Tweet 
        {% else %} Create Tweet 
        {% endif %}
        <form method="post" enctype="multipart/form-data" class="form text-sm">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button class="btn btn-warning btn-sm" type="submit">Submit</button>
        </form>
        <div class="mt-3">
            <a href="{% url 'tweet_list' %}" class="btn btn-secondary btn-sm">Back to home page</a>
        </div>
{% endblock %}